.form {
  padding: 40px 0;
  background-color: transparent;
  border-radius: 5px;
  width: 100%;
  max-width: 480px;
  min-width: 290px;
  text-align: center;
  margin: 0 auto;  
}

.group {
  position:relative;
  margin-bottom:40px;
} 

.input {
  background-color: transparent;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #182044;
  box-sizing: border-box;
  border-radius: 0;
  color: #0E122D;
}

.input:focus {
  outline: none;
}

.bar {
  position: relative;
  display: block;
  width: 100%;

}

.bar:before,
.bar:after   {
  content: '';
  height: 3px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #51628E;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.label {
  color: #182044;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

.input:focus ~ .label,
.input:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #51628E;
}

/* active state */
.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

.button {
  padding: 15px 40px;
  background-color: #51628E;
  border: none;
  border-radius: 0;
  color: #F1F2ED;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  max-width: 260px;
}

.button:hover {
  background-color: #91A1BA;
}


@media (prefers-color-scheme: dark) {
  .input {
    color: #F1F2ED;
    border-bottom: 1px solid #F1F2ED;
  }

  .label {
    color: #F1F2ED;
  }

  .bar:before,
  .bar:after {
    background: #F1F2ED;
  }

  .button {
    background-color: #F1F2ED;
    color: #0E122D;
  }

  .button:hover {
    background-color: #91A1BA;
  }
}