html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserret", Arial, sans-serif;
}

a {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
