html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserret", Arial, sans-serif;
  color: #0E122D;
  background: #F1F2ED;
}

a {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: #0E122D;
    color: #F1F2ED;
  }

  a {
    color: #F1F2ED;
  }
}
