html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserret", Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #0E122D;
    background: #F1F2ED;
  }
}