.layout {
  padding: 2rem 0;
  font-family: "Arvo";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout.dark {
  background: var(--color-dark);
  color: var(--color-light);
}

.layout.dark a {
  color: var(--color-light);
}

.layout.light {
  background: var(--color-light);
  color: var(--color-dark);
}

.layout.light a {
  color: var(--color-dark);
}

.layout a {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .layout {
    background: var(--color-dark);
    color: var(--color-light);
  }

  .layout.light {
    background: var(--color-light);
    color: var(--color-dark);
  }

  .layout.light a {
    color: var(--color-dark);
  }

  .layout a {
    color: var(--color-light);
  }
}
