.header,
.footer {
  max-width: 100%;
}

.header {
  padding-bottom: 16px;
}

.footer {
  text-align: right;
  padding-top: 16px;
}

.pageLink {
  padding: 12px 18px;
  font-family: "Arvo";
}

.pageLink:hover {
  text-decoration: none;
}

.pageLinkActive {
  text-decoration: none !important;
}

.dark {
  border-color: var(--color-light);
}

.light {
  border-color: var(--color-dark);
}

.themeToggleButton {
  background: linear-gradient(
    to right,
    var(--color-light) 50%,
    var(--color-dark) 50%
  );
  border: 2px solid var(--color-dark);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  position: relative;
  color: transparent;
  overflow: hidden;
  transform: rotate(45deg);
  float: right;
  margin: 0 20px 0 0;
  transition: background-position 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-size: 200%;
  background-position: 25% 50%;
}

.themeToggleButton:hover {
  background-position: 100% 50%;
}

.themeToggleButton.dark {
  border-color: var(--color-light);
  background: linear-gradient(
    to right,
    var(--color-dark) 50%,
    var(--color-light) 50%
  );
  background-size: 200%;
  background-position: 25% 50%;
}

.themeToggleButton.dark:hover {
  background-position: 100% 50%;
}

.themeToggleButton.light {
  border-color: var(--color-dark);
}
